#include "version.h"

MAINICON ICON "TriArea.ico"
1 VERSIONINFO
FILEVERSION 1,2,0,0
PRODUCTVERSION 1,2,0,0
FILEOS 0x00000004
FILETYPE 0x00000000
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "08040000"
    BEGIN
      VALUE "FileVersion", RC_FILEVERSION_STRING
      VALUE "ProductName", "TriArea\0"
      VALUE "ProductVersion", "1.2.0.0"
      VALUE "CompanyName", "LimaXRomeo\n"
      VALUE "LegalCopyright", "(C) 2020 LimaXRomeo\n"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0804, 0x0000
  END
END
